<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="imageToShow" alt="Place image title" *ngIf="!isImageLoading; else noImageFound">
    <ng-template #noImageFound>
      <img class="card-img-top" src="../../assets/user-default.png" alt="Fallbackimage">
    </ng-template>
    <div class="card-body">
      <h5 class="card-title">{{user.name}} {{user.surname}}</h5>
      <p>{{user.email}}</p>
      <input type="hidden" value="{{user.id}}">
      <a *ngIf="!isMe" class="btn btn-primary" routerLink="/message/{{user.id}}">Send Message</a>
      <input
        type="file"
        style="display: none"
        (change)="onFileSelect($event)"
        #fileInput
      >
      <a *ngIf="isMe" class="btn btn-primary" (click)="fileInput.click()">Upload Profile Image</a><br><br>
      <a *ngIf="isMe" class="btn btn-primary" routerLink="/settings">Edit Profile</a>
      <div *ngIf="!isMe">
        <a  *ngIf="!connected" class="btn btn-primary"  (click)="addConnection()">{{conMessage}}</a>
        <a  *ngIf="connected" class="btn btn-primary"  (click)="delConnection()">{{delMessage}}</a>
      </div>
    </div>
  </div>
  </div>

  <div class="col-md-5">
    <div class="row">
      <div class="col-md-11"><h3>Work Experience</h3></div><button *ngIf="isMe" type="button" class="btn" (click)="open(content, 0)">+</button>
    </div>
    <br>
    <app-skill [type]="0" [is_me]="isMe" [id]="user['id']"></app-skill>
    <br>
    <div class="row">
      <div class="col-md-11"><h3>Education</h3></div ><button *ngIf="isMe" type="button" class="btn" (click)="open(content, 1)">+</button>
    </div>
    <br>
    <app-skill [type]="1" [is_me]="isMe" [id]="user['id']"></app-skill>
    <br>
    <div class="row">
      <div class="col-md-11"><h3>Skills</h3></div><button *ngIf="isMe" type="button" class="btn" (click)="open(content, 2)">+</button>
    </div>
    <br>
    <app-skill [type]="2" [is_me]="isMe" [id]="user['id']"></app-skill>
  </div>
  <div class="col-md-2"></div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Skill</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        Skill<input [(ngModel)]="addSkill.skill" id="skill" class="form-control" placeholder="Skill" name="dp" ><br>
        Description<input [(ngModel)]="addSkill.description" id="description" class="form-control" placeholder="Description" name="dp"><br>
        Date Start<input [(ngModel)]="addSkill.datetime_start" type="date" class="form-control" name="datetime_start" id="datetime_start"><br>
        Date End<input [(ngModel)]="addSkill.datetime_end" type="date" class="form-control" name="datetime_end" id="datetime_end"><br>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
          <label  ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" name="visible" value="public" [(ngModel)]="addSkill.visible"> Public
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" name="visible" value="private" [(ngModel)]="addSkill.visible"> Private
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="sendSkill(); c('Save');">Save</button>
  </div>
</ng-template>

