
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a routerLink="/">
      <img src="../../assets/mainlogo.png">
    </a>
    <div class="col-md-3"></div>
    <a class="py-2 d-none d-md-inline-block" *ngIf="!!_authService.loggedIn()"  routerLink="/">Home</a>
    <a class="py-2 d-none d-md-inline-block" *ngIf="!!_authService.loggedIn()"  routerLink="/network">My Network</a>
    <a class="py-2 d-none d-md-inline-block" *ngIf="!!_authService.loggedIn()"  routerLink="/jobs">Jobs</a>
    <a class="py-2 d-none d-md-inline-block" *ngIf="!!_authService.loggedIn()"  routerLink="/messages/0">Messaging</a>
    <a class="py-2 d-none d-md-inline-block" *ngIf="!!_authService.loggedIn()"  routerLink="/notifications">Notifications</a>
    <a class="py-2 d-none d-md-inline-block" *ngIf="!!_authService.loggedIn()"  routerLink="/profile/0">My Profile</a>
    <a class="py-2 d-none d-md-inline-block" *ngIf="!!_authService.loggedIn()"  routerLink="/settings">Settings</a>
    <a class="py-2 d-none d-md-inline-block" *ngIf="!!_authService.loggedIn()" (click)="_authService.logoutUser()" routerLink="/register">Logout</a>
  </div>
</nav>
<br><br><br>


