<div class="row">
  <div class="col-md-1"></div>
    <form class="form-inline my-1 my-lg-0">
      <input [(ngModel)]="search" name="search" class="form-control mr-sm-1" type="search" placeholder="Search For Users" aria-label="Search">
      <button class="btn btn-outline-success my-1 my-sm-0" type="submit" (click)="getSearch()">Search</button>
    </form>
</div>
<br>
<div class="container">
<div class="col-md-3"></div>
  <div *ngIf="noRes"><h1>No Results Found</h1></div>
  <div *ngIf="noConns"><h1>No Connections yet :(</h1></div>
<div class="card" *ngFor="let user of connections" style="margin-bottom: 15px;">
  <div class="card-body"  routerLink="/profile/{{user.iduser}}">
    <div class="row">
      <div class="col-md-1"></div>
      <img src="http://localhost:8080/linkedin/api/profile/picture/{{user.iduser}}"  onError="this.src='../../assets/user-default.png'" >
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <b>{{user.name}} {{user.surname}} </b>
        <p>{{user.email}}</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3"></div>
</div>
