<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <a class="btn btn-primary" (click)="open(content, 2)">+ Create Job</a>
  </div>
</div>
<br>
<br>
<!-- This is for my jobs-->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h5>My Jobs</h5>
    <hr>
    <div class="container">
    <div class="row">
      <div *ngFor="let jb of MyJobs" class="col-md-3">
        <div class="card mb-4 shadow-sm" >
          <img class="card-img-top" data-holder-rendered="true">
          <div class="card-title">
            <button type="button" class="close" aria-label="Close" (click)="deleteJob(jb)">
              <span aria-hidden="true">&times;</span>
            </button>
            <h6 align="center" style="border-top-width: 25px; margin-top: 25px;">{{jb.title}}</h6>
          </div>
          <div class="card-body">
            <p class="card-text">{{jb.descr}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="open(content2, 2); getSkills(jb)">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="open(content3, 2); getAppl(jb)">Applicants</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- This is for Network jobs -->
<div class="row">
  <div class="col-md-2"></div>
  <div  class="col-md-8">
    <h5>My Network</h5>
    <hr>
    <div class="container">
      <div class="row">
        <div *ngFor="let jb of NetJobs" class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" data-holder-rendered="true">
            <div class="card-title">
              <h6 align="center" style="border-top-width: 25px; margin-top: 25px;">{{jb.title}}</h6>
            </div>
            <div class="card-body">
              <p class="card-text">{{jb.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="open(content2, 2); getSkills(jb)">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="applyToJob(jb)">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- This is for NN jobs-->
<div class="row">
  <div class="col-md-2"></div>
  <div  class="col-md-8">
    <h5>Suggested Jobs</h5>
    <hr>
    <div class="container">
      <div class="row">
        <div *ngFor="let jb of SugJobs" class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" data-holder-rendered="true">
            <div class="card-title">
              <h6 align="center" style="border-top-width: 25px; margin-top: 25px;">{{jb.title}}</h6>
            </div>
            <div class="card-body">
              <p class="card-text">{{jb.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="open(content2, 2); getSkills(jb)">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="applyToJob()">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Job</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      Title<input [(ngModel)]="newjb.title" id="skill" class="form-control" placeholder="Skill" name="dp" ><br>
      Description<textarea type="text" [(ngModel)]="newjb.descr" id="description" class="form-control" placeholder="Description" name="dp"></textarea><br>
      Skills<textarea [(ngModel)]="newjb.skills" type="text" class="form-control" name="skills" id="skills" rows="3" placeholder="Comma Seperated Skills"></textarea><br>
    </form>
  </div>
  <div class="modal-footer">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="newjb.visible" style="margin-left: 150px">
      <label  ngbButtonLabel class="btn-light active">
        <input ngbButton type="radio" name="visible" value="public" [(ngModel)]="newjb.visible"> Public
      </label>
      <label ngbButtonLabel class="btn-light">
        <input ngbButton type="radio" name="visible" value="private" [(ngModel)]="newjb.visible"> Private
      </label>
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="newJob(); d('save')">Post Job</button>
  </div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{_job.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{_job.descr}}</p>
    <hr>
    <ul>
    <div *ngFor="let skl of skills">
      <li>{{skl.name}}</li>
    </div>
    </ul>
  </div>
</ng-template>


<ng-template #content3 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Applicants</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card" *ngFor="let appl of applicants" style="margin-bottom: 15px;">
      <div class="card-body"  routerLink="/profile/{{appl.iduser}}" (click)="d('clk')">
        <div class="row">
          <div class="col-md-1"></div>
          <img id="prf" src="http://localhost:8080/linkedin/api/profile/picture/{{appl.iduser}}"  onError="this.src='../../assets/user-default.png'" >
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <b>{{appl.name}} {{appl.surname}} </b>
            <p>{{appl.email}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
