/* You can add global styles to this file, and also import other style files */
a {
  color: #dadada;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #ffffff;
  text-decoration: underline;
}
