<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <h5>Your Messages</h5>
    <hr>
  </div>
</div>
<div class="row" >
  <div class="col-md-1"></div>
  <div class="col-md-3" id="scroll">
    <div class="card" *ngFor="let user of msgUsers" style="margin-bottom: 11px;">
      <div class="card-body"  (click)="getChatById(user.iduser)">
        <div class="row">
          <div class="col-md-1"></div>
          <img src="http://localhost:8080/linkedin/api/profile/picture/{{user.iduser}}"  onError="this.src='../../assets/user-default.png'" >
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <b>{{user.name}} {{user.surname}}</b> <br>
            <p>{{user.datetime}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h6>{{chatname}}</h6>
    <div class="container">
      <div class="row" id="window_msg">
        <div class="container">
        <div class="row" *ngFor="let msg of messages">
        <div class="col-md-5" *ngIf="msg.text!=''">
          <div class="card" style="background-color: #1fa4ff7d;
              margin-top: 10px;" *ngIf="myId != msg.iduser">
            <div class="card-body" >
              {{msg.text}}
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5" *ngIf="msg.text!=''">
          <div class="card" style="margin-top: 10px;" *ngIf="myId == msg.iduser">
            <div class="card-body" >
              {{msg.text}}
            </div>
          </div>
        </div>
        </div>
        </div>

      </div>
        <form>
          <div class="row">
            <div class="col-md-8">
              <input [(ngModel)]="newmessage" type="text" class="form-control" placeholder="Message" name="message">
            </div>
            <div class="col">
              <a class="btn btn-primary" (click)="sendMessage(chatid)">Send Message</a>
            </div>
          </div>
        </form>

    </div>
  </div>
</div>
