img {
  border-radius: 50%;
  width:30px;
  height:30px;
}

#scroll {
  width: 1000px;
  height: 700px;
  overflow: auto;
}

#window_msg {
  background: #f7f7f7;
  width: 90%;
  height: 600px;
  margin-bottom: 15px;
  overflow: auto;
}
